* {
    box-sizing: border-box;
}

body {
    background-color: #ff45c1;
    color: #fff;
    text-shadow: 2px 2px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    padding: 1em;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

ul{
    list-style: none;
    padding:0;
}

.brand{
    text-align: center;
}

.brand span{
    font-family: 'Aguafina Script', cursive;
    display: block;
    font-size: 60px
}

