* {
    box-sizing: border-box;
}

body {
    background-color: #ff45c1;
    color: #fff;
    text-shadow: 2px 2px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    padding: 1em;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

ul{
    list-style: none;
    padding:0;
}

.brand{
    text-align: center;
    line-height: 1
}



.brand  .main{
    font-family: 'Aguafina Script', cursive;
    display: block;
    font-size: 60px
}

.brand .sub{
    text-transform: lowercase;
    font-size: 24px;
}

.wrapper{
    box-shadow: 0 0 20px 0 rgba(173, 125, 155, 0.7)
}

.wrapper > *{
    padding: 1em;
}

.company-info {
    background-color: #fabad1;
}

.company-info h3, .company-info ul{
    text-align: center;
    margin: 0 0 1em 0
}

.contact{
    background-color: #ebc5d0;
}

/*FORM STYLES*/

.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form label{
    display: block;
}

